.command(id="#{command.cid}-command")
  form.terminal
    header.prompt
      span &gt;&gt;
      input.prompt-input(name="input", value=command.get('input'))
    if command.has('results')
      section.code(class=command.get('type') == "error" ? "error" : "")
        pre
          = command.get('results')
